
*{
    font-family: 'Lato';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    list-style: none;
}

// mygtukas

.btn-b{
    width: 140px;
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
    background: #007bff;
    color: white;
}



// navigacija
nav{
    width: 100%;
    height: 70px;
    display: flex;
    box-shadow: 0px 0px 5px 0px gray;
    justify-content: space-around;
    align-items: center;
}
nav div h1{
    font-size: 20px;
    color: Black;
}
// mygtukas navigacijos
nav .btn-b{
    width: 100px;
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
    background: #007bff;
    color: white;
}

// hero konteineris
#hero-container{
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    background-image: url(../../app/images/bg-masthead.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.hero{
    width: 100%;
    height: 100vh;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    background: rgba(0,0,0,.1);
}
.hero h1{
    font-size: 3rem;
    font-weight: bold;
    padding: 10px;
    color: white;
}
.hero input{
    width: 350px;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
}

.in{
    width: 350px;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
}

@media screen and (max-width: 500px){
    .hero h1{
        font-size: 2rem;
    }
}

// about konteineris
.about-container{
    justify-content: center;
    align-items: center;
    padding: 80px 0px;
    display: flex;
    background: whitesmoke;
}
.about div{
    justify-content: center;
    align-items: center;
}
.about div i{
    font-size: 4rem;
    padding: 10px;
    color: #007bff;
}
.about .check{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    padding: 0px 0px 15px 0px;
    line-height: 70px !important;
    border: 1px solid #007bff;
}
.about h1{
    font-size: 2rem;
}
.about p{
    font-size: 1rem;
    padding: 5px 15px;
}

// service konteineris
.service-container {
    justify-content: center;
    align-items: center;
}
.service{
    justify-content: center;
    align-items: center;
}
.service h1{
    font-size: 2.4rem;
    font-weight: bold;
    padding: 5px 0px 5px 10%;
}
.service p{
    padding: 5px 5px 5px 10%;
}
.service div{
    margin: 0px;
}
.service div:nth-child(2){
    padding: 0 !important;
}
.service div:nth-child(3){
    padding: 0 !important;
    display: flex;
    justify-content: end;
}
.service div:nth-child(6){
    padding: 0 !important;
}

.service-container2{
    display: none;
}

@media screen and (max-width: 768px){
    .service div{
        text-align: center;
    }
    .service h1{
        padding: 10px ;
        font-size: 2rem;
    }
    .service p{
        padding: 10px ;
    }
}
@media screen and (max-width: 767px){
    .service div:nth-child(2){
        padding: 10px !important;
    }
    .service div:nth-child(3){
        padding: 10px !important;
    }
    .service div:nth-child(6){
        padding: 10p x!important;
    }

    .service-container{
        display: none;
    }

    .service-container2{
        display: block;
    }
}

// test konteineris
.test-container{
    justify-content: center;
    align-items: center;
    padding: 60px 0px;
    background: whitesmoke;
}
.test{
    margin-top: 80px;
}
.test div{
    justify-content: center;
    align-items: center;
}
.test div img{
    width: 200px;
    border-radius: 50%;
    height: auto;
}

.test h1{
    padding: 10px;
    font-size: 2rem;
}
.test p{
    font-size: 1rem;
    padding: 5px 15px;
}

// parallax konteineris
.parallax-container{
    width: 100%;
    height: auto;
    padding: 50px 0px;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    background: url(../../img/bg-masthead.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

// footer
.footer-container{
    padding: 40px 0px;
    justify-content: center;
    align-items: center;
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: cente;

}
.footer div:nth-child(2){
    text-align: right;
}
.footer i{
    font-size: 2rem;
    margin: 10px;
    color: #007bff;
}

.footer a{
    color: #007bff;
    padding: 0px 10px;
    text-decoration: none;
}

.footer a:hover{
    color: black;
}

.footer p{
    padding-top: 15px;
}
@media screen and (max-width: 768px){
    
    .footer div{
        text-align: center;

    }
    .footer div:nth-child(2){
        text-align: center;

    }

}


/*media*/
@media screen and (max-width: 410px){
    
    .in{
        width: 330px;
    }
}

@media screen and (max-width: 390px){
    
    .hero input{
        width: 320px !important;
    }

    .in{
        width: 300px;
    }
}

@media screen and (max-width: 350px){
    
    nav .btn-b{
        width: 150px;
    }

    .hero input{
        width: 290px !important;
    }

    .in{
        width: 250px;
    }
}